html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

body {
  margin: auto;
  max-width: 500px;
}

strong {
  font-weight: bold;
}

p,
ul {
  height: 100%;
  width: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* Variables */
:root {
  --main-size: 1.5rem;
  --secondary-size: 1.2rem;
  --light-grey: rgb(245, 245, 245);
  --dark-grey: #3a3a3a;
  --even-padding: 20px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: red;
}

.header {
  height: 100px;
  width: 100%;
  background-color: var(--light-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 {
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #fa0303;
}

.include {
  width: 200px;
  height: 50px;
  background-color: var(--light-grey);
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.include span {
  font-size: 20px;
  color: #3a3a3a;
  padding-left: 5px;
}

form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .taxSection {
  width: 100vw;
}

.mobileWidth {
  max-width: 85vw;
  margin: auto;
}

.taxSection {
  display: none;
  background-color: var(--light-grey);
  margin: var(--even-padding) auto 0;
}

.taxInside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0px 15px 0px;
}

.taxInside input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.taxInside input[type="radio"]:checked + label {
  background-color: #e5e5e5;
  color: var(--dark-grey);
  background-color: red;
  color: white;
}

.taxInside label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 135px;
  background-color: #e5e5e5;
  color: var(--dark-grey);
  padding: 5px 0;
  font-size: 1em;
  border-radius: 5px;
}

.taxFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

.taxInput {
  display: inline-block;
}

.iAmOn {
  display: inline;
}

.lowerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.lowerRow label,
.lowerRow select {
  display: block;
}

.formItem label {
  margin-bottom: 3px;
  color: var(--dark-grey);
}

.billAmountStyle {
  margin: auto;
  padding-bottom: var(--even-padding);
}

.billAmountStyle label,
.billAmountStyle input {
  display: block;
}

.dropDownItem {
  background-color: var(--light-grey);
}

.textBoxWarn {
  border-color: red;
  color: red;
}

.textBoxWarn::-webkit-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn:-ms-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn::-ms-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn::placeholder {
  border-color: red;
  color: red;
}

button {
  background-color: red;
  color: white;
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  width: 165px;
  height: 52px;
  border-radius: 10px;
  border: none;
}

.theButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--even-padding) 0 0;
  margin: auto;
}

.outputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 50px auto;
}

.outputItem h2 {
  margin-bottom: 5px;
  white-space: nowrap;
}

.outputItem p {
  color: var(--dark-grey);
}

.aLine {
  width: 30px;
  height: 0px;
  border: 0.5px solid var(--dark-grey);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 35px;
}

.aLineThick {
  margin-top: 48px;
  width: 52px;
}

footer {
  width: 100%;
  background-color: var(--light-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-size: 12px;
  margin: 15px 0;
  text-align: center;
  color: #fa0303;
}

/* toggle switch */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

input[type="number"] {
  background-color: var(--light-grey);
}

.switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: var(--main-size);
  background: grey;
  display: block;
  border-radius: var(--main-size);
  position: relative;
}

.switchLabel:after {
  content: "";
  position: absolute;
  top: 2.45px;
  left: 3px;
  width: var(--secondary-size);
  height: var(--secondary-size);
  background: #fff;
  border-radius: var(--secondary-size);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="checkbox"]:checked + label {
  background: red;
}

input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.switchLabel:active:after {
  width: 1.5rem;
}

@media screen and (max-width: 355px) {
  .header h1 {
    padding: 0 20px;
  }
  .lowerRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lowerRow .formItem label:nth-of-type(1) {
    margin-bottom: 3px;
  }
  .dropDownItem {
    margin-bottom: var(--even-padding);
  }
  .outputContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileWidth {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileWidth label:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .taxSection {
    margin: 0;
  }
  .theButton {
    padding-top: 10px;
  }
  .aLine,
  .aLineThick {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */