html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

strong {
  font-weight: bold;
}

p,
ul {
  height: 100%;
  width: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header {
  height: 100px;
  width: 100vw;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 {
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FA0303;
}

.include {
  width: 200px;
  height: 50px;
  background-color: #f8f8f8;
  margin: 25px auto 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.include span {
  font-size: 20px;
  color: #3a3a3a;
  padding-left: 5px;
}

form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.taxSection {
  display: none;
}

.taxInput {
  display: inline-block;
}

.iAmOn {
  display: inline;
}

.formItem {
  margin: 10px;
  background-color: white;
}

.textBoxWarn {
  border-color: red;
  color: red;
}

.textBoxWarn::-webkit-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn:-ms-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn::-ms-input-placeholder {
  border-color: red;
  color: red;
}

.textBoxWarn::placeholder {
  border-color: red;
  color: red;
}

.theButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  background-color: orange;
}

/* toggle switch */
/* Variables */
:root {
  --main-size: 1.5rem;
  --secondary-size: 1.2rem;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: var(--main-size);
  background: grey;
  display: block;
  border-radius: var(--main-size);
  position: relative;
}

.switchLabel:after {
  content: '';
  position: absolute;
  top: 2.45px;
  left: 3px;
  width: var(--secondary-size);
  height: var(--secondary-size);
  background: #fff;
  border-radius: var(--secondary-size);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type=checkbox]:checked + label {
  background: red;
}

input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.switchLabel:active:after {
  width: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */